@font-face {
  font-family: 'NumberPlate';
  src: url("../fonts/uknumberplate-webfont.woff2") format("woff2"), url("../fonts/uknumberplate-webfont.woff") format("woff"); }

.number-plate {
  margin: 0 auto 10px;
  font-family: 'NumberPlate', sans-serif;
  background-color: #ffd72d;
  border: 1px solid black;
  padding: 2px 10px;
  border-radius: 3px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  width: 200px;
  box-shadow: 5px 5px #ccc; }

body {
  font-family: 'Noto Sans', sans-serif;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  background-color: #ff1744; }

.wrapper {
  padding-top: 30px;
  background-color: white; }

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 15%));
  grid-gap: 10px;
  max-width: 700px;
  margin: 0 auto;
  justify-content: center; }

.grid-box {
  border-radius: 5px;
  font-size: 50px;
  text-align: center;
  border: 2px solid #ff1744;
  box-shadow: 5px 5px #ccc;
  min-height: 70px; }

.grid-emoji {
  transition: opacity .25s ease-in-out; }

button {
  padding: 10px 20px;
  background: #ff1744;
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 5px 5px #ccc; }
  button:hover {
    opacity: 0.7; }

.birthday-text {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  text-shadow: 2px 2px #ccc; }

.text {
  margin-bottom: 10px; }

.footer {
  padding: 30px 0; }

@media (max-width: 600px) {
  .grid-box {
    font-size: 30px;
    min-height: 41px; } }

@media (max-width: 770px) {
  body {
    width: 90%; } }
